body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
#header{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
}
.header-part{
    width: 50%;
    padding: 5%;
    
}
.text-Color{
    color: orange;
}
.Link-Color{
    padding: 10px,40px;
    text-decoration: none;
    background-image: linear-gradient(orange,yellow);
    border-radius: 20px;
}
h1{
    font-size: 50px;
}
.header-part img{
    width: 100px;
}
#dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-area{
    width: 50px;
    padding: 10px;
}
.area-part img {
    width: 100%;
}
#Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 5%;
}
.Experiences-area{
    display: flex;

}

.Experiences-area h3{
    color: orange;
}
.Experiences-area div{
    box-shadow: 10px 15px 5px red;
    height: 10%;
    margin: 15px;
}
#ful-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,red,tomato );
    border-image-slice: 1;
    padding: 10px;

}
#Web-develop{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, cyan, blue );
    border-image-slice: 1;
    padding: 10px;
 

}
footer p{
    text-align: center;
}


